* {
  margin: 0;
  padding: 0;
}

.first-paragraph {
  color: aquamarine;
  font-size: 25px;
  font-weight: 900;
  font-style: italic;
}

.main-block {
  padding-left: 10em;
  padding-right: 10em;
  font-size: large;
  background-color: cadetblue;
}

.image {
  display: inline;
  border-radius: 10px;
}
